{% if app_perms.contact_administrator or admin_app_groups.exists %}
  <div class="pure-u-1 pure-u-md-1-4">
    <div class="pure-g">
      <div class="pure-u-1">
        <h4>Groups</h4>
      </div>
    </div>
    <div class="r-box">
      {% if app_perms.contact_administrator %}
        <a href="{% url 'group.list' %}" class="pure-menu-link">
          <i class="fa fa-fw fa-group"></i>
          Global Groups
        </a>
      {% endif %}
      {% for app in admin_app_groups %}
        <a href="{% url 'apps.group.list' app.slug %}" class="pure-menu-link">
          <i class="fa fa-fw {{ app.icon }}"></i>
          {{ app.name }} Groups
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
