{% if admin_apps.exists or superuser_apps.exists or user.is_superuser %}
  <div class="pure-u-1 pure-u-md-1-4">
    <div class="pure-g">
      <div class="pure-u-1">
        <h4>Apps</h4>
      </div>
    </div>
    <div class="r-box">
      {% for app in superuser_apps %}
        <a href="{% url 'apps.update.superuser' app.pk %}" class="pure-menu-link">
          <i class="fa fa-fw {{ app.icon }}"></i>
          {{ app.name }} (Admin)
        </a>
      {% endfor %}
      {% for app in admin_apps %}
        <a href="{% url 'apps.update.administrator' app.pk %}" class="pure-menu-link">
          <i class="fa fa-fw {{ app.icon }}"></i>
          {{ app.name }} (Access)
        </a>
      {% endfor %}
      {% if user.is_superuser %}
        <a href="{% url 'apps.settings.update' %}" class="pure-menu-link">
          <i class="fa fa-fw fa-cog"></i>
          Superuser
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
