{% extends 'dash/base.html' %}

{% block sub_title %}
  Apps
{% endblock sub_title %}

{% block sub_heading %}
  Apps
{% endblock sub_heading %}

{% block content %}
  <style>
    /*
    Key CSS Media Query Applies Classname
    None  None  Always  .pure-u-*
    sm  @media screen and (min-width: 35.5em) ≥ 568px .pure-u-sm-*
    md  @media screen and (min-width: 48em) ≥ 768px .pure-u-md-*
    lg  @media screen and (min-width: 64em) ≥ 1024px  .pure-u-lg-*
    xl  @media screen and (min-width: 80em) ≥ 1280px  .pure-u-xl-*
    */
    .button-bar { padding: 1vw;}
    /* .workflow-button { width: 300px; height: 300px; margin: 10px auto;} */
    .workflow-button { width: 100%; height: 0; padding-bottom: 100%; }
    .workflow-button .icon { font-size: 8vw; margin-top: 3vw;}
    .workflow-button .title { display: block; margin-top: 1vw; font-size: 1vw;}
    @media (min-width: 35.5em) and (max-width: 48em) {
      .workflow-button .icon { font-size: 12vw; margin-top: 4vw; }
    }
    @media (max-width: 35.5em) {
      body { min-width: 30em;}
      .workflow-button .icon { font-size: 4em; margin-top: 4vw; }
      .workflow-button .title { font-size: 0.75vw;}
    }
  </style>
  <div class="pure-g">
    {% for app in app_list %}
      <div class="pure-u-1-3 pure-u-sm-1-4 pure-u-md-1-5 button-bar">
        <form
          action="{{ app.url_dash }}"
          id="id_{{ app.slug }}"
          method="get"
          class="pure-form">
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
          <button
            type="submit"
            class="pure-button workflow-button">
            <i class="fa {{ app.icon }} fa-fw icon"></i>
            <span class="title">{{ app.name }}</span>
          </button>
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
