{% extends 'dash/base.html' %}

{% block sub_title %}
  Application Groups for {{ app.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Application Groups for {{ app.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Settings
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'apps.group.create' app.slug %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create {{ app.name }} Group
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'apps.group.detail' obj.pk %}">
                  {{ obj.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
