{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Group for {{ app.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Update
  {% else %}
    Create
  {% endif %}
  Group for {{ app.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if object %}
              <a href="{% url 'apps.group.detail' object.pk %}" class="pure-menu-link">
            {% else %}
              <a href="{% url 'apps.group.list' app.slug %}" class="pure-menu-link">
            {% endif %}
            <i class="fa fa-reply"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}

