{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ object.name }}
  ({{ object.app.name }})
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.is_deleted %}
    <del>
  {% endif %}
  {{ object.name }}
  ({{ object.app.name }})
  {% if object.is_deleted %}
    </del>
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'apps.group.list' object.app.slug %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              {{ object.app.name }} Groups
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'apps.group.update' object.pk %}" class="pure-menu-link">
              <i class="fa fa-edit"></i>
              Edit
            </a>
          </li>
          {% if not object.is_deleted %}
            <li class="pure-menu-item">
              <a href="{% url 'apps.group.delete' object.pk %}" class="pure-menu-link">
                <i class="fa fa-trash-o"></i>
                Delete
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Name
              </strong>
            </td>
            <td>
              {% if object.is_deleted %}
                <del>
              {% endif %}
              {{ object.name }}
              {% if object.is_deleted %}
                </del>
                <br>
                <strong>
                  Deleted on
                </strong>
                {{ object.date_deleted|date:'d/m/Y H:i' }}
                by
                {{ object.user_deleted.username }}
              {% endif %}
            </td>
          </tr>
          {% for x in app_group_users %}
            <tr valign="top">
              <td>
                {% if forloop.first %}
                  <strong>
                    Users
                  </strong>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'project.user.detail' x.user.pk %}?next={{ request.path }}">
                  {{ x.user.get_full_name }}
                </a>
                <small>
                  ({{ x.user.username }})
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

