{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ group.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ group.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'group.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Global Groups
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'group.update' group.pk %}" class="pure-menu-link">
              <i class="fa fa-edit"></i>
              Edit
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Name
              </strong>
            </td>
            <td>
              {{ group.name }}
            </td>
          </tr>
          {% for x in user_list %}
            <tr valign="top">
              <td>
                {% if forloop.first %}
                  <strong>
                    Users
                  </strong>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'project.user.detail' x.pk %}?next={{ request.path }}?page={{ page_obj.number }}">
                  {{ x.get_full_name }}
                </a>
                <small>
                  ({{ x.username }})
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


