{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Example App
{% endblock title %}

{% block heading %}
  Example App
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  {% if user.is_authenticated %}
    {% if app_menu and app_menu.show_app_menu %}
      <li class="pure-menu-item{% if 'apps' in path %} pure-menu-selected{% endif %}">
        <a href="{% url 'apps.list' %}" class="pure-menu-link">
          <i class="fa fa-bullseye fa-fw"></i>
          Apps
        </a>
      </li>
    {% endif %}
    {% if app_menu and app_menu.current_app %}
      <li class="pure-menu-item{% if app_menu.current_app.url_dash == request.build_absolute_uri %} pure-menu-selected{% endif %}">
        <a href="{{ app_menu.current_app.url_dash }}" class="pure-menu-link">
          <i class="fa fa-dashboard fa-fw"></i>
          Dashboard
        </a>
      </li>
    {% endif %}
    {% if app_menu and app_menu.show_settings %}
      <li class="pure-menu-item{% if 'settings' in path %} pure-menu-selected{% endif %}">
        <a href="{% url 'project.settings' %}" class="pure-menu-link">
          <i class="fa fa-cog fa-fw"></i>
          Settings
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endblock menu %}

{% block footer %}
{% endblock footer %}

