<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th colspan="2">
        <strong>app_menu</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    {% if app_menu %}
      <tr valign="top">
        <td>
          <strong>current_app</strong>
        </td>
        <td>
          {{ app_menu.current_app }}
        </td>
      </tr>
      <tr valign="top">
        <td>
          <strong>current_app_admin</strong>
        </td>
        <td>
          {{ app_menu.current_app_admin }}
        </td>
      </tr>
      <tr valign="top">
        <td>
          <strong>show_app_menu</strong>
        </td>
        <td>
          {{ app_menu.show_app_menu }}
        </td>
      </tr>
      <tr valign="top">
        <td>
          <strong>show_settings</strong>
        </td>
        <td>
          {{ app_menu.show_settings }}
        </td>
      </tr>
    {% else %}
      <tr valign="top">
        <td colspan="2">
          The app menu does not exist on this template...
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
