{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if app_menu %}
    {{ app_menu.current_app|title }}
  {% endif %}
  Example
{% endblock sub_title %}

{% block sub_heading %}
  {% if app_menu %}
    {{ app_menu.current_app|title }}
  {% endif %}
  Example
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'apps.list' %}">
              <i class="fa fa-codepen"></i>
              Apps
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include 'example/_app_menu.html' %}
{% endblock content %}
