{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'apps.list' %}">
              <i class="fa fa-codepen"></i>
              Apps
            </a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="https://www.kbsoftware.co.uk/docs/app-apps.html">
              <i class="fa fa-external-link"></i>
              Documentation
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
